@page "/LearnBlazor/ParentComponent"
<h3>Parent Child Relation</h3>

<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component">
  <ChildContent>Render Fragment From Parent! WooHoo!</ChildContent>
  <DangerChildContent>Danger Content from Render Fragement! WooHoo</DangerChildContent>
</_ChildComponent>
<p><b>@messageText</b></p>
<AnotherChildComponent InputAttributes="InputAttributes"></AnotherChildComponent>
@code {

    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>()
    {
        {"required","required"},
        {"placeholder","Enter Name From Parent"},
        {"maxlength","10"},
    };
    public string messageText = "";

    private void ShowMessage()
    {
        messageText = "Tangy button clicked from Child Component";
    }
}
